body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: black;
  color: white;
  overflow: hidden;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  border-bottom: 3px solid orange;
  box-shadow: 0 0 20px orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  z-index: 1000;
}

.titulo {
  margin: 0;
  font-size: 2.5rem;
  color: #ff6600;
  text-align: center;
  text-shadow: 0 0 5px #ffcc00, 0 0 10px #9933ff, 0 0 15px #ff3399;
}

.creditos {
  margin: 5px 0 0;
  font-size: 1rem;
  text-align: center;
  color: #33ccff;
  text-shadow: 0 0 5px #ff3399, 0 0 10px #ffcc00;
}

.nombre {
  color: #ffcc66;
  text-shadow: 0 0 8px #ff6600;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  border-top: 3px solid orange;
  box-shadow: 0 0 20px orange;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  z-index: 1000;
}

.hud-text {
  font-size: 1.2rem;
  text-align: center;
  color: #ff3399;
  text-shadow: 0 0 5px #ffcc00, 0 0 10px #9933ff, 0 0 15px #ff6600;
}

.hud-text strong {
  font-size: 1.4rem;
  color: #ffcc00;
  text-shadow: 0 0 8px #ff6600, 0 0 15px #9933ff, 0 0 20px #ff3399;
}

.hud-text small {
  display: block;
  margin-top: 5px;
  color: #33ccff;
  text-shadow: 0 0 5px #ff3399, 0 0 10px #ffcc00;
}

#gameCanvas {
  position: fixed;
  top: 120px;
  bottom: 120px;
  left: 0;
  width: 100%;
  height: calc(100vh - 240px);
  z-index: 1;
  background: transparent;
  display: block;
  cursor: url('assets/cursor.png') 16 16, crosshair;
}
